/* Sidebar switcher buttons */

.sidebar-switcher {
    display: none;
}

@media screen and (min-width: 40em) {

  .sidebar-switcher {
      display: block; 

      position: absolute;
      right: 0;
      padding: .4em 1em;
      color: hsl(0, 0%, 40%);
  }

  .sidebar-switcher button {
      color: hsl(0, 0%, 40%);
      padding-left: .4em;
  }

  .sidebar-switcher button:not([disabled]):hover,
  .sidebar-switcher button:focus {
      color: hsl(0, 0%, 20%);
  }

  /* Switching the sidebar to the left */ 
  .sidebar-left {
    order: -1; 
  }
  
  /* Sidebar verstecken */ 
  .sidebar {
    overflow: hidden; 
  }

  .hide {
    flex: 0 0 0; 
    padding: 0; 
  }
  
}

